<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Acerca de</h5>
                <p>Studybacks es una plataforma que te ayuda a organizar tus tareas, notas y recordatorios.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Inicio</a></li>
                    <li><a href="#" class="text-white">Características</a></li>
                    <li><a href="#" class="text-white">Precios</a></li>
                    <li><a href="#" class="text-white">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: info@studybacks.com</p>
                <p>Teléfono: +123 456 7890</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>&copy; 2024 Studybacks. Todos los derechos reservados.</p>
        </div>
    </div>
    <script src="/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</footer>
